body {
  background-image: url("imgs/allback.jpg");
background-color: #cccccc;
}
#crsif {
  position: absolute;

  top: 400px; left: 200px;
  width: 95px;
  height: 72px;

  box-shadow: 0 0 30px #636363;

}

#crsif a:hover {
      box-shadow: 0 0 50px #636363;
    }
