body {
  background-image: url("imgs/allback.jpg");
  background-color: #cccccc;
  font-size: 1.1em;
  line-height: 1.6;
}

#works {
  position: absolute;
  top: 180px;
  left: 100px;
}

#description {
  position: absolute;
  top: 100px;
  left: 300px;
  width: 700px;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  box-shadow: 0 0 10px #636363;
  color: black;
}

a:active {
  text-decoration: none;
  color: black;
}
